@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-display: swap;
  text-rendering: optimizeLegibility;
}

.animDelay {
  animation-delay: 100ms;
}

.mdc-ui-container {
  width: calc(100% - 40px);
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .mdc-ui-container {
    width: calc(100% - 64px);
  }
}

@media (min-width: 1024px) {
  .mdc-ui-container {
    width: calc(100% - 184px);
  }
}

@media (min-width: 1366px) {
  .mdc-ui-container {
    width: calc(100% - 288px);
  }
}

.xs\:mdc-ui-container {
  width: calc(100% - 40px);
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .sm\:mdc-ui-container {
    width: calc(100% - 64px);
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .md\:mdc-ui-container {
    width: calc(100% - 184px);
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1366px) {
  .lg\:mdc-ui-container {
    width: calc(100% - 288px);
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
}


.borderAnimated {
  width: 100%;
  height: 100%;
  --border-radius: 12px;
  --border-size: 1px;
  --padding: 0px;
  --border-bg: conic-gradient(from 180deg at 50% 50%, #1070e5 0deg, #4cff91 112.5deg, #02e239 228.75deg, rgba(42, 138, 246, 0) 360deg);
  position: relative;
  overflow: hidden;
  padding: calc(var(--padding) + var(--border-size));
  border-radius: var(--border-radius);
  display: inline-block;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000;
  transform: translateZ(0);

  &__blue {
    border: #1070e5 2px solid;
    height: 100%;
    width: 100%;

    & i {
      content: none;
      display: none;

      &::before {
        content: none;
        display: none;
      }

    }

  }

  &:hover i {
    animation: fadein 800ms linear forwards;
  }

  & i {
    content: "";
    position: absolute;
    top: var(--border-size);
    right: var(--border-size);
    bottom: var(--border-size);
    left: var(--border-size);
    padding: var(--border-size);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    border-radius: calc(var(--border-radius) + var(--border-size));

    &::before {
      content: "";
      display: block;
      background: var(--border-bg);
      box-shadow: 0 0 40px 20px --var(--border-bg);
      width: calc(100% * 2);
      padding-bottom: calc(100% * 2);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100%;
      z-index: 0;
      animation: border_spin 5s linear infinite;
    }

  }
}

@keyframes border_spin {
  0% {
    transform: translate(-50%, -50%) rotate(1turn)
  }

  100% {
    transform: translate(-50%, -50%) rotate(0)
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.swiper {
  width: 100%;
  height: 100%;
}


.swiper-slide {
  /* text-align: center;
  font-size: 18px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contactInput {
  input {


    &:invalid:focus-visible {
      outline-color: #ef4444;
    }

    &:invalid[data-focused='true']~p {
      display: block;
    }
  }

  textarea {
    &:invalid[data-focused='true']~p {
      display: block;
    }

    &:invalid[data-focused='true']~p {
      display: block;
    }
  }

  p {
    display: none;
  }
}

/* nprogress styles */
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #1070e5;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #1070e5, 0 0 5px #1070e5;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #1070e5;
  border-left-color: #1070e5;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}