
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #011321;
  color: white;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.test {
  color: #1070e5;
}

.mdc-ui-container {
  width: calc(100% - 40px);
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .mdc-ui-container {
    width: calc(100% - 64px);
  }
}
@media (min-width: 1024px) {
  .mdc-ui-container {
    width: calc(100% - 184px);
  }
}
@media (min-width: 1366px) {
  .mdc-ui-container {
    width: calc(100% - 288px);
  }
}
.xs\:mdc-ui-container {
  width: calc(100% - 40px);
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .sm\:mdc-ui-container {
    width: calc(100% - 64px);
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1024px) {
  .md\:mdc-ui-container {
    width: calc(100% - 184px);
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1366px) {
  .lg\:mdc-ui-container {
    width: calc(100% - 288px);
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }
}
